@import '~antd/dist/antd.css';

a {
   color:inherit;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;
  height: 15vh;
  padding: 0 10px 0 0;
}

.logo {
  margin-right: 20px;
  background: url(../icons/logo_header.svg);
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
}

.search {
  margin-left: auto;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #124560;
}

.ant-btn-primary {
  background-color: #124560;
  border-color: #124560;
}

.ant-menu {
  font-size: 18px;
}