@import '~antd/dist/antd.css';

.color {
  color: lightcoral;
}

.true {
	background-color: lightgreen;
}

.false {
	background-color: lightcoral;
}

.download {
	position: absolute;
	vertical-align: center;
	left: 50%;
	top: 45vh;
  	z-index: 100;
  	width: 100%;
  	height: 100vh;
}

.circleRed {
	position: absolute;
	color: lightcoral;
	font-size: 25px;
	top: 5px;
	left: -40px;
}

.circleBlue {
	position: absolute;
	color: lightblue;
	font-size: 25px;
	top: 5px;
	left: -40px;
}

.ant-tabs-bar {
	margin-bottom: 0;
}