@import '~antd/dist/antd.css';

.color {
  color: lightcoral;
}

.true {
	background-color: lightgreen;
}

.false {
	background-color: lightcoral;
}


.download {
	position: absolute;
	vertical-align: center;
	left: 50%;
	top: 45vh;
  	z-index: 100;
}

.circleRed {
	color: red;
	padding-right: 10px;
	font-size: 25px;
}

.circleBlue {
	color: blue;
	padding-right: 10px;
	font-size: 25px;
}

.ant-tabs-bar {
	margin-bottom: 0;
}