@import '~antd/dist/antd.css';

a {
   color:inherit;
}

th {
  font-size: 12px;
}

.ant-table-scroll {
  font-size: 16px;
}

.ant-table-tbody,
.ant-table-fixed-left {
  font-size: 12px;
}

.true {
  background-color: lightgreen !important;
}

.info {
  background-color: #909295 !important;
}

.false {
  background-color: lightcoral !important;
}