@import '~antd/dist/antd.css';

a {
   color:inherit;
}

th {
  font-size: 12px;
}

.ant-table-scroll {
  font-size: 16px;
}

.ant-table-fixed-left {
  font-size: 12px;
}

.true {
  background-color: lightgreen !important;
}

.info {
  background-color: #909295 !important;
}

.false {
  background-color: lightcoral !important;
}

/*
.ant-menu, 
.ant-menu-sub,
.ant-menu-inline,
.ant-menu-item, 
.ant-menu-item-selected {
	font-size: 20px !important;
}
*/