@import '~antd/dist/antd.css';

a {
   color:inherit;
}

th {
  font-size: 12px;
}

.true {
  background-color: lightgreen;
}

.info {
  background-color: #909295;
}

.false {
  background-color: lightcoral;
}

.ant-table-scroll {
  font-size: 16px;
}

.ant-table-fixed-left {
  font-size: 12px;
}
/*
.ant-menu, 
.ant-menu-sub,
.ant-menu-inline,
.ant-menu-item, 
.ant-menu-item-selected {
	font-size: 20px !important;
}
*/